body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bdbdbd;
    
}

.resume {
    width: 1000px;
    margin: 30px auto;
    display: flex;
    min-height: 100vh;
}

.left {
    width: 35%;
    background: linear-gradient(to bottom, white, #ffb3b3);
    color: black;
    padding: 30px;
}

.right {
    width: 65%;
    background: linear-gradient(to bottom, black, darkred);
    color: white;
    padding: 40px;
}

.photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: block;
    margin: 20px 0;
}

h1 {
    font-size: 22px;
    margin-bottom: 5px;
    font-family: serif;
}

.role {
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
    margin-top: 30px;
    font-family: serif;
}

h2 {
    margin-top: 35px;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
    font-family: serif;
}

ul {
    padding-left: 20px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

li {
    font-size: 15px;
    margin-bottom: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 14px;
    line-height: 2;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.skills {
    column-count: 2;
    padding-left: 20px;
}